<mini-footer>
    <a href="./">
        <ion-icon name="search-outline"></ion-icon>
    </a>
    
    <a href="Favoris.php">
        <ion-icon name="heart-outline"></ion-icon>
    </a>
    <a href="create-annonce.php"  class="special flex-align-center" >
        <ion-icon name="add-outline"></ion-icon>
    </a>
    <a href="Chat.php">
        <ion-icon name="chatbox-outline"></ion-icon>
    </a>
    <a href="user-detail.php?user_id=<?php echo $_SESSION['user_id']?>" class="section  flex-complete">
        <ion-icon name="person-outline"></ion-icon>
    </a>
    
</mini-footer>
<footer>
    <p>&copy; 2024 ManageApp. All rights reserved.</p>
</footer>