<header>
    <div>
        <a href="./"><img id="logo" src="./static/asset/logo_etushare-removebg-preview.png" alt=""></a>
        <div>
            <form class="shearch-bar" action="http://localhost:3001/important/etushare/recherche.php" method="GET">
                <input type="text" name="Recherche" placeholder="Search..." class="shearch-input" id="searchInput">
                
                <ion-icon style="color: var(--black);" name="search-outline" onclick="toggleSearch()"></ion-icon>
               
            </form>
            <mini-header>
                <a href="create-annonce.php"  class="special flex-align-center" >
                    <ion-icon name="add-outline"></ion-icon>
                    <h3>Ajouter une annonce</h3>
                </a>
                <a href="Favoris.php" class="section  flex-complete">
                    <ion-icon name="heart-outline"></ion-icon>
                    <p>Favoris</p>
                </a>
                
                <a href="Chat.php" class="section  flex-complete">
                    <ion-icon name="chatbox-outline"></ion-icon>
                    <p>Chat</p>
                </a>
                <a href="user-detail.php?user_id=<?php echo $_SESSION['user_id']?>" class="section  flex-complete">
                    <ion-icon name="person-outline"></ion-icon>
                    <p>Profil</p>
                </a>
            </mini-header>  
        </div>
    </div>
</header>

<script>
    // Fonction pour activer la barre de recherche
    function toggleSearch() {
        const searchBar = document.querySelector('.shearch-bar');
        const input = document.querySelector('.shearch-input');
        const logo = document.getElementById('logo');
        if (!searchBar.classList.contains('active')) {
            searchBar.classList.add('active');
            input.focus();
            logo.src = "./static/asset/logo_mini_edushare-removebg-preview.png";
            document.addEventListener('click', handleOutsideClick);
        }
    }

    // Fonction pour désactiver la barre de recherche en cliquant à l'extérieur
    function handleOutsideClick(event) {
        const searchBar = document.querySelector('.shearch-bar');
        const logo = document.getElementById('logo');
        if (!searchBar.contains(event.target)) {
            searchBar.classList.remove('active');
            logo.src = "./static/asset/logo_etushare-removebg-preview.png";
            document.removeEventListener('click', handleOutsideClick);
        }
    }
</script>