<title>Incription</title>
<link rel="stylesheet" href="./src/css/style.css">

</head>
<body class="body-login">
    <div class="login-box">
        <div class="login-header">
            <header>Incription</header>
        </div>
        <div class="input-box">
            <input type="text" class="input-field" placeholder="name@example.com" id="" required>
        </div>
        <div class="input-box">
            <input type="nom utilisateur" class="input-field" placeholder="name" id="" required>
        </div>
        <div class="input-box">
            <input type="password" class="input-field" placeholder="Password" id="" required>
        </div>
        <div class="input-submit">
            <button class="submit-btn" id="submit"></button>
            <label for="submit">Crée un compte</label>
        </div>
    </div>
</body>

